<ion-view title="Search present" id="page5">
  <ion-content padding="true" class="outer-content">
    <form name="searchForm" novalidate="" ng-submit="submit(searchForm)">
      <div class="list">
        <label class="item item-input item-stacked-label item-select" ng-class="{'has-error': (searchForm.$submitted && searchForm.holiday.$invalid)}">
          <span class="input-label">Holiday</span>
          <select required ng-model="search.holiday" name="holiday">
            <option ng-repeat="_holiday in data.holidays" value="{{ _holiday.id }}">{{ _holiday.label }}</option>
          </select>
          <p ng-show="searchForm.$submitted && searchForm.holiday.$invalid" class="form-error">You have to select valid holiday</p>
        </label>

        <!-- age -->
        <label class="item item-input item-stacked-label" ng-class="{'has-error': (searchForm.$submitted && searchForm.age.$invalid)}">
          <span class="input-label">Age</span>
          <!-- Hopefully nobody will live longer than 140 yrs -->
          <input required type="number" ng-model="search.age" name="age" placeholder="21" min="1" max="140">
          <p ng-show="searchForm.$submitted && searchForm.age.$invalid" class="form-error">You have to enter valid age</p>
        </label>

        <!-- gender -->
        <label class="item item-input item-stacked-label item-select" ng-class="{'has-error': (searchForm.$submitted && searchForm.gender.$invalid)}">
          <span class="input-label">
          <span class="input-label">Gender</span>
          <select required ng-model="search.gender" name="gender">
            <option value="">-- Select --</option>
            <option value="m">Male</option>
            <option value="f">Female</option>
            <option value="u">Unisex</option>
          </select>
          <p ng-show="searchForm.$submitted && searchForm.gender.$invalid" class="form-error">You have to select valid gender</p>
        </label>

        <!-- max price -->
        <!-- <label class="item item-input item-stacked-label range range-positive">
          <span class="input-label">Max price: {{ form.volume }}</span>
          <input type="range" name="volume" min="0" max="1000" value="50">
        </label> -->

        <button class="button button-block button-positive presentino" type="submit">
          {{ form.submitting ? 'Searching for presents ...' : 'Search presents' }}
        </button>
        <!-- 
        <pre>form = {{ search | json }}</pre>
        <pre>data = {{ data | json }}</pre> -->

      </div>
    </form>
    <p><img src="img/asap.png" alt="ASAP" class="asap-logo"></p>
  </ion-content>
</ion-view>