<ion-view title="Search results" id="search-results">
  <ion-content padding="true" class="has-header">
    <ion-list id="searchResults-list1">
      <a href="#/show/1" class="item-holder">
	      <ion-item class="item-thumbnail-left" id="searchResults-list-item1">
	        <img src="img/GIY8dKoRfGnjxbjCKSXu_gift-05.jpg" alt="present image not found">
	        <h2>Some example gift</h2>
	        <p>Example gift description</p>
	        <strong class="text-muted item-price">&euro; 9,99</strong>
	      </ion-item>
      </a>
      <a href="#/show/2" class="item-holder">
	      <ion-item class="item-thumbnail-left" id="searchResults-list-item1">
	        <img src="img/GIY8dKoRfGnjxbjCKSXu_gift-05.jpg" alt="present image not found">
	        <h2>Some example gift</h2>
	        <p>Example gift description</p>
	        <strong class="text-muted item-price">&euro; 9,99</strong>
	      </ion-item>
      </a>
      <a href="#/show/3" class="item-holder">
	      <ion-item class="item-thumbnail-left" id="searchResults-list-item1">
	        <img src="img/GIY8dKoRfGnjxbjCKSXu_gift-05.jpg" alt="present image not found">
	        <h2>Some example gift</h2>
	        <p>Example gift description</p>
	        <strong class="text-muted item-price">&euro; 9,99</strong>
	      </ion-item>
      </a>
      <a href="#/show/4" class="item-holder">
	      <ion-item class="item-thumbnail-left" id="searchResults-list-item1">
	        <img src="img/GIY8dKoRfGnjxbjCKSXu_gift-05.jpg" alt="present image not found">
	        <h2>Some example gift</h2>
	        <p>Example gift description</p>
	        <strong class="text-muted item-price">&euro; 9,99</strong>
	      </ion-item>
      </a>
    </ion-list>
    
  </ion-content>
</ion-view>