<ion-view title="Search results" id="search-results">
	<ion-nav-bar class="bar-stable">
		<ion-nav-buttons side="left">
		  <button class="button back-button buttons button-clear header-item" ng-click="goToSearch()">
		    <i class="icon ion-ios-arrow-back"></i> Search
		  </button>
		</ion-nav-buttons> 
	</ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <ion-list id="searchResults-list1">
      <a ng-repeat="present in presents" href="{{ '#/show/'+present.id }}" class="item-holder">
	      <ion-item class="item-thumbnail-left" id="searchResults-list-item1">
	        <img ng-src="{{ present.image || 'img/unknown_present.jpg' }}" alt="present image not found">
	        <h2>{{ present.label }}</h2>
	        <p>{{ present.description }}</p>
	        <strong class="text-muted item-price">{{ present.price | currency:"&dollar;":2 }}</strong>
	      </ion-item>
      </a>
    </ion-list>

    <p ng-if="!presents.length" class="item-holder">Sorry, there are no presents matching your search.</p>
    
  </ion-content>
</ion-view>