<ion-view title="Present {{ present.id }}" id="show-present">
  <ion-content padding="false" class="has-header">
    <div style="background-color: rgb(232, 235, 239); text-align: center;" class="show-present-image">
      <img src="img/demo-gift-fullwidth.jpg" alt="">
    </div>
    <div class="padding">
	    <button id="show-button8" class="button button-positive  button-block">Buy for € 9,99</button>
	    <div id="show-button-bar1" class="button-bar"></div>
	    <p>
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, minus.
	    </p>
	    <div class="hr-line-dashed"></div>
	    <p>
	    	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque consequatur ipsum libero tempora ipsa aut aspernatur magnam eligendi nobis reprehenderit aliquam, illum nostrum dolore esse dignissimos nemo vel recusandae perferendis temporibus fuga soluta. Eveniet itaque quaerat expedita enim magnam cupiditate a libero distinctio unde iusto natus totam, recusandae ipsa!
	    </p>
	    <p>
	    	This is the end, <strong>strong</strong> <em>italic</em>
	    </p>
	    <p>
	    	<ul>
	    		<li>List 1</li>
	    		<li>List 2</li>
	    		<li>List 3</li>
	    	</ul>

			<h2>grid</h2>
	    	<div class="row">
	    		<div class="col col-50">.col.col-50</div>
	    		<div class="col col-50">.col.col-50</div>
	    	</div>
	    	<div class="row">
	    		<div class="col col-25">.col.col-25</div>
	    		<div class="col col-25">.col.col-25</div>
	    		<div class="col col-25">.col.col-25</div>
	    		<div class="col col-25">.col.col-25</div>
	    	</div>
	    </p>
    </div>
  </ion-content>
</ion-view>