<ion-view title="Present detail" id="show-present">
  <ion-content padding="false" class="has-header">
    <div style="background-color: rgb(232, 235, 239); text-align: center;" class="show-present-image">
      <img ng-src="{{ present.image || 'img/unknown_present.jpg' }}" alt="">
    </div>
    <h2 class="present-title">{{ present.label }}</h2>

    <div class="padding">
	    <p ng-bind-html="present.description"></p>
	    <h3>Stores:</h3>
    </div>
    <div class="list">
    	<a href="#" ng-click="openUrl(store.url)" class="item item-icon-right" ng-repeat="store in present.present_stores">
    		<strong>{{ store.name }}</strong> - {{ store.price | currency:"&euro;":2 }}
			<i class="icon ion-ios-arrow-right"></i>
    	</a>
    </div>
  </ion-content>
</ion-view>